# Dependency folders
node_modules/
dist/
dist-ssr/

# Environment / Config (jangan upload ke GitHub)
.env
.env.local
.env.*.local

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor settings (umum)
.vscode/
!.vscode/extensions.json   # keep shared VS Code extensions
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# macOS & Windows system files
.DS_Store
Thumbs.db
Desktop.ini

# Misc
*.local
.cache/
